@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap');

html{font-size: 62.5%;
}


body {background-color: white; 
    font-family: 'Roboto Condensed', sans-serif;
}

    
/**GENERAL**/


h1{color: #001233; 
    font-size: 4rem; 
    text-align: center;
    text-transform: uppercase;
}

h2{color: #001233; 
    font-size: 3.5rem; 
    text-align: letf;
    text-transform: uppercase;
}

h3{color: rgb(22, 22, 88);
    font-size: 300%;
    text-align: center;
    font-style: italic;
    padding: 25px;
}

h4{color: rgba(46, 46, 53, 0.822);
    font-size: 2.5rem;
    text-align: center;
}

h5{text-align:start;
}

p{font-size: 170%;
    line-height: 30px;
}

a:visited {color: #002855;
}



/** HEADER **/

header{background-color: #8a8a8a;
    color: #001845;
    padding-top: 20px;
}


#fondoSearch{
    background-color:  #e0dac6;
    border-color: white;
    color: #131b23;
}

#fondoSearch:hover{
    background-color: #131b23;
    color:  #e0dac6;
    transition: all 800ms;
}

#navPropio{
    font-size: 2.0rem;
    background-color: #8a8a8a;
    text-align: justify;
    color: #012042;
    padding-right: 57px;
    letter-spacing: 4px;
}

#navPropio ul li a:hover{
    color: #FFFFF0;
}

/** INDEX ***/

#frasePrincipal {;
    padding: 20px;
}

.linea{
    height: 5px;
    background: rgb(22, 22, 88);
}

.linea2{
    display: flex;
    height: 2px;
    background: #e0dac6;
    align-items: flex-end;
    align-self: flex-end;
}

.contenedorArticulos{
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;    
    justify-content: space-around ; 
    align-content: center;
    padding: 40px;
}

    .contenedorArticulosHijo{
        text-align: justify;
        padding: 30px;
    }

.tituloArticulos:hover{
    color:#002855;
}

/** NOSOTROS **/


.textoPresentacion{
    background-color: #ffffff;
    text-align: justify;
    padding: 30px;
    font-style: oblique;
    font-size: 1.5rem;
    line-height: 2.5px;
    letter-spacing: 0.5px;
    }

.textoPrimero{
    color: #002855;
}

.textoIntermedio{
    color: #fc0e0e;
    padding-top: 30px;
}

.textoPresentacionInverso{
    background-color: #001233; 
    color: #ffffff; 
    text-align: justify;
    padding: 30px;
    padding-bottom: 5px;
    font-style:initial;
    font-size: 2rem;
    line-height:normal;
    letter-spacing: 2px;
    margin: 0;
    }

.cartaPersonal{
    padding: 30px;
    margin: 40px;
}

.cardImagen{
    border-radius: 20px;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


.cardImagen:hover{
    -webkit-filter: none;
    filter: none;
    -webkit-transition: -webkit-filter .5s;
    transition: -webkit-filter .5s;
    transition: filter .5s;
    transition: filter .5s, -webkit-filter .5s;
}

.textoCartasPresentacion{
    text-align: justify;
}


.fondoCartas{
    background-color: #001233;
}

.conoceOficinas{
        background-color: #979dac;
        color: #001233;
        padding: 40px;
        margin: 0px;
        text-align: center;
    }


/** ESPECIALIDADES **/

.cuadroEspecialidad{
    background-color: #2c3e50;
    color: #bdc3c7;
    margin: 50px;
    padding: 45px;
    padding-top: 60px;
    height: 200px;
    text-align: center;
}

.cuadroEspecialidad:hover{
    background-color: #bdc3c7;
    color: #2c3e50;
    cursor: pointer;
}

.listaEspecialidades{
    font-size: 1.5rem;
    color: #2c3e50;
}

/** CLIENTES Y ALIANZAS **/

.logosClientes{
    width: 300px;
    height: 300px;
}

/** CONTACTO **/

.formulario{
    font-size: 2rem;
    padding: 30px;
}

.formulario p{
    font-size: 2rem;
    line-height: normal;
}

.placeHolderForm{
    font-size: 1.5rem;
    
}

.parrafoContacto{
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-size: 3rem;
}

.checkbox{
    margin-left: 40px
}

.select{
    text-align: center;
}

#seleccionadorFormulario{
    font-size: 1.5rem;
    width: 280px;
    height: 50px;
    text-align:start;
}

/** SECCIONES - ARTICULOS **/

.nombreDePagina{
    background-color: #001233;
    color: #979dac;
    padding: 40px;
    margin: 0px;
    text-align: center;
    letter-spacing: 5px;
}

.imagenNoRepeat{
    background-repeat: no-repeat;
    background-size: cover;
    filter:brightness(0.4);
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.sinMarginPadding{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.imgFluida{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.tituloPaginasArticulos{
    font-size: 4rem;
    font-style: oblique;
}

.textoArticulos{
    text-align: justify;
    padding: 30px;
    font-size: 2rem;
}

.textoArticulosAdentro{
    text-align: justify;
    padding: 10px;
    font-size: 2rem;
    margin:15px;
}

/** FOOTER **/

footer{background-color: #8a8a8a;;}


.imagenFooter{
    margin:10px;
    text-align: start;
    margin-bottom: 15px;;
}


.estudioFooter{
    color: #8a8a8a;
    background-color: #001233;
    font-size: 1.5rem;
    font-style: bold;
}

.remove-bg{
    filter:brightness(1.1);
    mix-blend-mode: multiply;
}

.remove-bg:hover{
    transform: scale(1.2)
}


/** RESPONSIVE **/

@media only screen and (max-width: 768){
    h1 {color: black;font-size: 3rem;}
    body{background-color: white;}
    .contenedorHeaderHijo img{width: 100px}
    h2{font-size: 2.5rem}
    h3{font-size: 2.5rem}
    p{font-size: 3rem}
    .nombreDePagina{font-size: 3.5rem;}}

@media only screen and (max-width: 320px){
    .contenedorHeaderHijo img{width: 50px}
    h2{font-size: 1.5rem}
    h3{font-size: 2rem}
    p{font-size: 1,5rem}
    .nombreDePagina{font-size: 3rem;}
    #navPropio{letter-spacing: 1px; padding-right: 0px; font-size: 1.5rem;}}